<!DOCTYPE html>
<html lang="en">
<head>
	<title>Change Password</title>
	<%- include ('./partials/head.ejs') %> 
	<link rel="stylesheet" href="/css/change-password.css">
</head>
<body>
	
	<header>
		<%- include ('./partials/header.ejs') %> 
	</header>

	<main>

		<!-- SHOWS NOTIFICATION -->
		<% if (messages.notification) { %>
			<script>
				Toastify({
					text: '<%= messages.notification %>',
					backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
					className: "info",
				}).showToast();
			</script>
		<% } %>
		<!-- SHOWS NOTIFICATION ENDS -->
	
		
		<!-- CHANGE PASSWORD STARTS -->
		<section class="container-fluid my-3">
			<h3 class="text-center my-4" id="heading">Go ahead and change your local password 🔑</h3>
			<div class="main-content my-4">
				<div class="left-box">
					<form name="change-password" method="POST" action="/auth/password/change" autocomplete="off" class="form" role="form">
						<div class="form-group">
							<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
						</div>
						<div class="form-group">
							<label for="inputPassword1">Current password</label> 
							<input type="password" class="form-control" name="currentPassword" id="inputPassword1" required></<input>
						</div>
						<div class="form-group">
							<label for="inputNewPassword2">New password</label>
							<input type="password" class="form-control" name="newPassword" id="inputNewPassword2" required>
						</div>
						<div class="form-group">
							<label for="inputConfirmPassword3">Confirm new password</label>
							<input type="password" class="form-control" name="confirmNewPassword" id="inputConfirmPassword3" required>
						</div>
						<div class="form-group">
							<button class="btn btn-danger" type="submit">Submit</button>
						</div>
					</form>
				</div>
				<div class="right-box mt-4 pt-3">
					<ul id="instructions">
						<li><small>Your password must be at least 6 characters long.</small></li>
						<li><small>Use mixed combination of numbers, special characters and alphabets for better security.</small></li>
					</ul>
				</div>
			</div>

		</section>
		<!-- CHANGE PASSWORD ENDS -->

	</main>

	<footer>
		<%- include ('./partials/footer.ejs') %> 
	</footer>
</body>
</html>
