<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Checkout Page</title>

    <!-- Load Stripe.js on your website. -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/js/client.js" defer></script>
  </head>

  <body>
    <div class="sr-root">
      <div class="sr-main">
        
		<section class="container" id=<%= item.priceId %>>
			<h1>Item name: <%= item.name %> </h1>
			<h3>Condition: <%= item.condition %> </h3>
			<h3>Quantity: 1</h3>

			<input type="hidden" id="_csrf" name="_csrf" value="<%= locals.csrfToken %>">
			<input type="hidden" id="item_id" value=<%= item.id %>>
	
			<button id="sub">Buy for <%= item.price %></button>
		</section>

		<div class="error-message"></div>

	  </div>
    </div>
  </body>
</html>
