<!DOCTYPE html>
<html lang="en">
<head>
	<title>Payment successful</title>
	<%- include ('./partials/head.ejs') %>
</head>
<body>

	<header>
		<%- include ('./partials/header.ejs') %>
	</header>

	<main>
		<!-- JUMBOTRON STARTS -->
		<div class="jumbotron jumbotron-fluid" id="banner">
			<div class="container text-center">
				<!-- <h1 class="display-4">Hi <%= user.name %></h1> -->
				<h1 class="display-4">Congratulations <%= user.name %>! Your purchase was successful. 🎉🎉🎉</h1>
			</div>
		</div>
		<!-- JUMBOTRON ENDS -->
		
		<section class="container-fluid my-3 w-75">
			<p class="lead text-center">Order confirmation mail has been sent!</p>
			<p class="lead text-center">Want more? Head back to the home page to find more amazing deals.</p>
			<a class="btn btn-success d-block mx-auto w-25" href="/listings">Home</a>
		</section>
	</main>
	
	<footer>
		<%- include ('./partials/footer.ejs') %> 
	</footer>

</body>
</html>
