<!DOCTYPE html>
<html lang="en">
<head>
	<title>Forgot Password</title>
	<%- include ('./partials/head.ejs') %> 
	<link rel="stylesheet" href="/css/forgot-password.css">
</head>
<body>

	<header>
		<%- include ('./partials/header.ejs', {user: undefined}) %> 
	</header>

	<main>
		<!-- SHOWS NOTIFICATION -->
		<% if (messages.notification) { %>
			<script>
				Toastify({
					text: '<%= messages.notification %>',
					backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
					className: "info",
				}).showToast();
			</script>
		<% } %>	
		<!-- SHOWS NOTIFICATION ENDS -->
	
		<section class="container-fluid w-50 my-4">
			<h2 class="text-center mb-3">Forgot Password</h2>
			<div class="forgot-password-headline">
				<h4>Please enter the email you are registered with </h4>
				<img class="ml-1" src="/images/email.svg" alt width="20" height="20">
			</div>
			<form name="forgot-password" method="POST" action="/v1/auth/password/forgot" autocomplete="off" class="form" role="form">
				<div class="form-group">
					<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
				</div>
				<div class="form-group">
					<input class="form-control" type="email" name="email" id="inputEmail1" placeholder="Email" required>
				</div>
				<button class="btn btn-danger btn-sm" type="submit">Submit</button>
			</form>
		</section>
		
	</main>

	<footer>
		<%- include ('./partials/footer.ejs') %> 
	</footer>

</body>
</html>
