<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('./partials/head.ejs') %>
	<title>Home</title>
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<header>
		<%- include ('./partials/header.ejs', {user}) %>
	</header>

	<main>
		
		<!-- SHOWS NOTIFICATION -->
		<% if (messages.notification) { %>
			<script>
				Toastify({
					text: '<%= messages.notification %>',
					backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
					className: "info",
				}).showToast();
			</script>
		<% } %>
		
		<% if (!user) { %>
			<p>Welcome! Please <a href="/v1/auth/login">log in</a>.</p>
		<% } else { %>
			<!-- JUMBOTRON STARTS -->
			<div class="jumbotron jumbotron-fluid" id="banner">
				<div class="container text-center">
				  <h1 class="display-4">Hi <%= user.name %> 👋</h1>
				  <p class="lead">Check out the listings available and find a steal!</p>
				</div>
			</div>
			<!-- JUMBOTRON ENDS -->
			

			<% if (items) { %>

				<div class="cards">
					<% for( let i = 0; i < items.length; i++ ) { %>
						<div class="card" id=<%= items[i].id %>>
							<img class="card-img" src="..." alt>
							<div class="card-body">
								<h5 class="card-title"><%= items[i].name %></h5>
								<p class="card-text">Price: <%= items[i].price %></p>
								<% URL = `/v1/item/checkout/${items[i].id}` %> 
								<a href=<%= URL %> class="btn btn-success">More Info</a>
							</div>
						</div>
					<% } %>
				</div>
			<% } else { %>
				<h4>No items to display!!!</h4>
			<% } %>

		
		<% } %>
	</main>

	<footer>
		<%- include ('./partials/footer.ejs') %> 
	</footer>

</body>
</html>
