<!DOCTYPE html>
<html lang="en">
<head>
	<title>My listings</title>
	<%- include ('./partials/head.ejs') %> 
	<link rel="stylesheet" href="/css/my-listings.css">
</head>
<body>
	<header>
		<%- include ('./partials/header.ejs', {user}) %> 
	</header>

	<main>
		<section class="main-content container-fluid my-3">
			<h1 class="heading my-4">My Listings 📃</h1>
			
			<table class="table">
				<thead>
					<tr>
						<th class="heading" scope="col">#</th>
						<th class="heading" scope="col">Name</th>
						<th class="heading" scope="col">Price</th>
						<th class="heading" scope="col">Sold</th>
					</tr>
				</thead>
				<tbody>
					<% for( let i=0; i<listings.length; i++ ) { %>
						<tr>
							<% num = i+1 %> 
							<% status = listings[i].status === 0 ? "Yes" : "No" %> 
							<% linkToItem = `/item/checkout/${listings[i]._id}` %> 
							
							<th scope="row"><%= num %></th>
							<td> <a href=<%= linkToItem%>> <%= listings[i].name %> </a></td>
							<td><%= listings[i].price %></td>
							<td><%= status %> </td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</section>
	</main>

	<footer>
		<%- include ('./partials/footer.ejs') %> 
	</footer>
	
</body>
</html>
