<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('./partials/head.ejs') %> 
	<title>Reset Password</title>
	<link rel="stylesheet" href="/css/reset-password.css">
</head>
<body>

	<header>
		<%- include ('./partials/header.ejs', {user: undefined}) %> 
	</header>

	<main>
		<!-- SHOWS NOTIFICATION -->
		<% if (messages.notification) { %>
			<script>
				Toastify({
					text: '<%= messages.notification %>',
					backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
					className: "info",
				}).showToast();
			</script>
		<% } %>	
		<!-- SHOWS NOTIFICATION ENDS -->
		
		<!-- RESET PASS FORM STARTS -->
		<section class="container-fluid my-4">
			<h1 id="heading" class="text-center">Reset your password 🔑</h1>
			
			<div class="main-content my-4">
				<form name="change-password" method="POST" action="<%= url %>" autocomplete="off" class="form" role="form">
					<div class="form-group">
						<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
					</div>
					<div class="form-group">
						<label for="inputPassword1">New password</label>
						<input class="form-control" id="inputPassword1" type="password" name="password" required>
					</div>
					<div class="form-group">
						<label for="inputConfirmPassword2">Confirm new password</label>
						<input class="form-control" id="inputConfirmPassword2" type="password" name="confirmPassword" required>
					</div>
					<button class="btn btn-danger">Reset</button>
				</form>
			</div>
		</section>
		<!-- RESET PASS FORM ENDS -->

		<footer>
			<%- include ('./partials/footer.ejs') %> 
		</footer>

	</main>
</body>
</html>
