<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sell</title>
	<%- include ('./partials/head.ejs') %> 
	<link rel="stylesheet" href="/css/sell.css">

	<script>
		$(document).on('change', '.btn-file :file', function() {
			var input = $(this),
				numFiles = input.get(0).files ? input.get(0).files.length : 1,
				label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
			input.trigger('fileselect', [numFiles, label]);
		});

		$(document).ready( function() {
			$('.btn-file :file').on('fileselect', function(event, numFiles, label) {
				var input_label = $(this).closest('.input-group').find('.file-input-label'),
					log = numFiles > 1 ? numFiles + ' files selected' : label;

				if( input_label.length ) {
					input_label.text(log);
				} else {
					if( log ) alert(log);
				}
			});

			// Tooltip on condition ratings input
			$('.rating__label').mouseover((e) => {
				const ratingVal = (e.target.id).split('-')[1];
				if(ratingVal === '1') $('#ratings-feedback').html("<small>Used for a significant amount of time.</small>");
				else if (ratingVal === '2') $('#ratings-feedback').html("<small>Slightly old, used for one month or so.</small>");
				else if (ratingVal === '3') $('#ratings-feedback').html("<small>Looks barely old, in good condition.</small>");
				else if (ratingVal === '4') $('#ratings-feedback').html("<small>Used just once, very good condition.</small>");
				else if (ratingVal === '5') $('#ratings-feedback').html("<small>Never used, excellent condition.</small>");
			})

		});


	</script>
</head>
<body>

	<header>
		<%- include ('./partials/header.ejs') %> 
	</header>

	<main>
		<% if (!user) { %>
			<p>Welcome! Please <a href="/v1/auth/login">log in</a>.</p>
		<% } else { %>
			
			<!-- Shows notification -->
			<% if (messages.notification) { %>
				<script>
					Toastify({
						text: '<%= messages.notification %>',
						backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
						className: "info",
					}).showToast();
				</script>
			<% } %>
			<!-- notification ends -->

			<!-- JUMBOTRON STARTS -->
			<div class="jumbotron jumbotron-fluid" id="banner">
				<div class="container text-center">
					<h1 class="display-5">Go ahead and post what you're flippin' today 🛒</h1>
				</div>
			</div>
			<!-- JUMBOTRON ENDS -->
		
			<!-- SELL FORM starts -->
			<section class="container-fluid w-75 h-50 my-4">
				<form name="sell" method="POST" action="/v1/item/sell/?_csrf=<%=locals.csrfToken%>" enctype="multipart/form-data" autocomplete="off" class="form" role="form">
					<div class="form-group">
						<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
					</div>
					<div class="form-group">
						<label for="inputName1">Name</label> 
						<input name="name" class="form-control" id="inputName1" placeholder="Name" required type="text">
					</div>
					<div class="form-group">
						<label for="inputDesc">Description</label> 
						<input name="description" class="form-control" id="inputDesc" placeholder="Description" required type="text">
					</div>
					<div class="form-group">
						<label for="inputPrice2">Price</label> 
						<input type="number" name="price" min="1" class="form-control" id="inputPrice2" placeholder="Price" required> 
					</div>
					<div class="smaller-inputs">
						<div id="full-stars-example-two">
							<p class="mb-0">Condition</p>
							<div class="rating-group" id="rating-group-box">
								<input disabled checked class="rating__input rating__input--none" name="condition" id="rating3-none" value="0" type="radio">
								<label aria-label="1 star" class="rating__label" id="label-1" for="rating3-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
								<input class="ratings-input-class rating__input" name="condition" id="rating3-1" value="1" type="radio">
								<label aria-label="2 stars" class="rating__label" id="label-2" for="rating3-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
								<input class="ratings-input-class rating__input" name="condition" id="rating3-2" value="2" type="radio">
								<label aria-label="3 stars" class="rating__label" id="label-3" for="rating3-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
								<input class="ratings-input-class rating__input" name="condition" id="rating3-3" value="3" type="radio">
								<label aria-label="4 stars" class="rating__label" id="label-4" for="rating3-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
								<input class="ratings-input-class rating__input" name="condition" id="rating3-4" value="4" type="radio">
								<label aria-label="5 stars" class="rating__label" id="label-5" for="rating3-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
								<input class="ratings-input-class rating__input" name="condition" id="rating3-5" value="5" type="radio">
							</div>
						</div>
						<p id="ratings-feedback"></p>

						<div class="input-group">
							<span class="input-group-btn">
								<label class="btn btn-info btn-file" for="multiple_input_group">
									<div class="input required"><input id="multiple_input_group" type="file" name="upload_imgs" multiple></div>
									Upload Product Images
								</label>
							</span>
							<span class="file-input-label"></span>
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-danger" type="submit">Submit</button>
					</div>
				</form>
			</section>
			<!-- SELL FORM section ends -->
		<% } %>
	</main>

	<footer>
		<%- include ('./partials/footer.ejs') %> 
	</footer>
	
	
</body>
</html>
