<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('./partials/head.ejs') %> 
	<title>Set Password</title>
</head>
<body>

	<header>
		<%- include ('./partials/header.ejs') %> 
	</header>
	
	<main>
		<!-- SHOWS NOTIFICATION -->
		<% if (messages.notification) { %>
			<script>
				Toastify({
					text: '<%= messages.notification %>',
					backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
					className: "info",
				}).showToast();
			</script>
		<% } %>
		<!-- SHOWS NOTIFICATION ENDS -->
		
		<section class="container-fluid my-4 w-50">
			<p class="lead text-center">Hi <%= user.name %> 👋, you have not set your local password.</p>
			<p class="lead text-center">Go ahead and set a new password ⌨️</p>
			
			<form name="set-password" method="POST" action="/v1/auth/password/set" autocomplete="off" class="form" role="form">
				<div class="form-group">
					<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
				</div>
				<div class="form-group">
					<label for="inputPassword1">Password</label>
					<input class="form-control" type="password" name="password" id="inputPassword1" placeholder="Password" required>
				</div>
				<div class="form-group">
					<label for="inputPassword2">Confirm password</label>
					<input class="form-control" type="password" name="confirmPassword" id="inputPassword2" placeholder="Confirm password" required>
				</div>
				<button type="submit" class="btn btn-danger btn-sm">Submit</button>
			</form>
		</section>

		<footer>
			<%- include ('./partials/footer.ejs') %> 
		</footer>

	</main>
</body>
</html>

